/** Styles for the homepage on mobile devices **/
.buttonrow{
    text-align:center; 
    margin-top:20px;
}

@media (max-width: 700px){
    .buttonrow{
        display: flex;
        flex-direction: column;
    }
    .buttonrow a{
        margin-bottom: 10px;
        font-size: 12px;
    }
    div img{
        width: 128px;
        height: 128px;
    }
    h2{
        font-size: 15px;
    }
}