/** Blog List Styles **/

#blog-filter {
    width: 34%;
    padding-left: 10px;
}

#blog-list {
    width: 66%;
}

#blog-stuff {
    display: flex;
    margin-bottom: 54px;
}

#sort-by {
    margin-bottom: 28px;
}

.blog-date-line {
    float: right;
    text-align: right;
}

.blog-description {
    margin: 0;
}

.blog-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

.blog-link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.blog-list-entry {
    border: solid 1px lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.blog-rss-and-search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-table {
    width: 100%;
    border-collapse: collapse;
}

.blog-table td, .blog-table  th {
    border: 1px solid black;
    padding: 15px;
}

.blog-title-div {
    border-bottom: 2px dotted lightgray;
}

.blog-title-line {
    display: inline-block;
    width: 67%;
    margin-bottom: 0;
}

.blog-date-line {
    display: inline-block;
    width: 33%;
    margin-bottom: 0;
}

.meta-data-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rss-subscribe {
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: smaller;
}

/** Blog Filter Styles **/
#filter-box {
    border: solid 1px lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 28px;
}

#filter-box > h3 {
    border-bottom: 2px dotted lightgray;
}

#filter-box > p {
    margin-top:0;
    margin-bottom:5px;
}

#filter-box label, #filter-box input {
    cursor: pointer;
}

#search-bar button { 
    background-color: #711ca7;
    color: white;
    padding: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

#search-bar button:hover {
    background-color: #b597c9;
}

#search-bar input {
    padding: 4px;
    cursor: auto;
}

/** Blog post styles **/
#back-button {
    color: #711ca7;
    float: right;
    margin-top: 30px;
}

#back-button:hover {
    color: #b597c9;
}

#blog-title {
    display: inline-block;
}

@media (max-width: 700px) {
    #back-button {
        margin-top: 20px;
        width: fit-content;
        padding: 5px 15px;
    }

    #blog-filter {
        width: 100%;
        padding: 0;
    }

    #blog-list {
        width: 100%;
        border: none;
    }

    #blog-stuff {
        display: block;
    }

    .blog-list-entry, #filter-box {
        width: initial;
    }
}