/** Blog List Styles **/
#blog-stuff {
    display: flex;
}

#blog-list {
    width: 66%;
    border-right: solid 1px grey;
}

.blog-list-entry {
    border: solid 1px lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
    margin-bottom: 5px;
    cursor: pointer;
}

.blog-title-line, .blog-date-line {
    display: inline-block;
    border-bottom: 2px dotted lightgray;
    width: 50%;
    margin-bottom: 0;
}

.blog-date-line {
    float: right;
    text-align: right;
}

.blog-description {
    margin-top: 0;
}

#blog-filter {
    width: 34%;
    padding-left: 10px;
}


/** Blog Filter Styles **/
#filter-box {
    border: solid 1px lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#filter-box > h3 {
    border-bottom: 2px dotted lightgray;
}

#filter-box > p {
    margin-top:0;
    margin-bottom:5px;
}

/** Blog post styles **/
#back-button {
    text-decoration: none;
    border-radius: 5px;
    background-color: #711ca7;
    color: white;
    padding: 10px 35px; 
    box-sizing: border-box;
    float: right;
    margin-top: 30px;
}
#back-button:hover {
    background-color: #b597c9;
}

#blog-title {
    display: inline-block;
}

@media (max-width: 700px) {
    #back-button {
        margin-top: 20px;
        width: fit-content;
        padding: 5px 15px;
    }

    #blog-stuff {
        display: block;
    }

    #blog-list {
        width: 100%;
        border: none;
    }

    #blog-filter {
        width: 100%;
        padding: 0;
    }

    .blog-list-entry, #filter-box {
        width: initial;
    }
}