  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: #711ca7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .flip-card-back {
    background-color: #711ca7;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back img {
    width: 250px;
    height: 250px;
  }

  .flip-row {
    display:flex; 
    justify-content: space-around;
    margin-bottom: 54px;
  }

  /* medium screens */
  @media (max-width: 1000px) {
    .flip-card {
      width: 240px;
      height: 240px;
    }
    .flip-card-back img {
      width: 240px;
      height: 240px;
    }
  }

  @media (max-width: 850px) {
    .flip-card {
      width: 350px;
      height: 350px;
    }
    
    .flip-card-back img {
      width: 350px;
      height: 350px;
    }

    .flip-row {
      align-items: center;
      flex-direction: column;
    }

    .mobile-only-br, .flip-row {
      margin-bottom: 15px;
    }

    .content p {
      text-align: center;
    }
  }

  @media (max-width: 375px) {
    .flip-card {
      width: 250px;
      height: 250px;
    }
    
    .flip-card-back img {
      width: 250px;
      height: 250px;
    }
  }