body {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}

html {
    font-size: 62.5%;
}

.page-title {
    text-decoration: none;
    color:white;
}

.footer-div {
    text-align:center; 
    margin-top:20px;
    margin-bottom: 60px;
}

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.alternate-headers div:nth-of-type(2n) h2, .alternate-headers div:nth-of-type(2n) h3 {
    text-align: right;
}

.alternate-headers div {
    margin-bottom: 45px;
}

.purple-text {
    color: #711ca7;
}

.content {
    margin: 0 auto;
    max-width: 80.0rem;
    padding: 0 2.0rem;
    position: relative;
}

body > .content {
    margin-top: 54px;
}

.work-description {
    margin-bottom: 54px;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: grey;
    background: linear-gradient(darkgrey, grey);
    position: fixed;
    top: 0;
    margin-left: -8px;
    z-index: 10;
}

.header h1 {
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.link-block {
    float: right;
    display: inline;
    text-align: right;
    padding-top: 3px;
}

.rounded-image {
    border-radius: 50%;
}

.fa {
    padding: 6px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    float: right;
    color: white;
}

.fa-github {
    background: #6e5494;
}

.fa-linkedin {
    background: #0077B5;
}

.fa-twitter {
    background-color: #1DA1F2;
}

.fa-envelope {
    background: #363434;
    
}

.fa-home {
    background: #711ca7;
}

.fa-github:hover {
    background: #76678d;
}

.fa-twitter:hover {
    background: #47aff0
}

.fa-linkedin:hover {
    background: #2282B6;
}

.fa-envelope:hover {
    background: #4b4848;
}

.fa-home:hover {
    background: #b597c9;
}

#email, .my-links {
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(grey,darkgrey(37, 37, 253));
    background-color: grey;
    color: white;
    padding: 10px 35px; 
    box-sizing: border-box;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.my-links:hover{
    background: linear-gradient(darkgrey,grey);
}

.title-link{
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: .01em;
    line-height: 1.6;
}

.justify-p p {
    text-align: justify;
}

.justify-p h2 {
    margin-bottom: 0;
}
.justify-p h3 {
    margin: 0;
}

h2 a {
    color: inherit;
    text-decoration: inherit;
}

#email {
    background-color: #711ca7;
}
#email:hover {
    background-color: #b597c9;
}

.mobile-only {
    display: none;
}

@media (min-width: 700px) {
    #email {
        font-size: 1.5em;
    }
}

@media (max-width: 700px) {
    .fa-github, .fa-linkedin, .fa-envelope, .fa-twitter {
        display: none;
    }

    .purple-text {
        font-size: 24px;
    }
        
    .desktop-only {
        display:none;
    }

    .mobile-only {
        display: block;
    }
}