/*Homepage styles (and other pages)*/
.rounded-image{
    border-radius: 50%;
}

html{
    height: 100%;
    min-height: 100%;
    width:100%;
}

.homepage{
    background: radial-gradient(#6dd5ed, #083f4b);
    background-repeat: no-repeat;    
    margin:0px;
}

.homepage-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align:center;
    color: white;
}

.homepage-center div{
    margin-bottom: 15px;
}

.homepage-center h1{
    margin:0;
}

.homepage-center h3{
    margin:0;
}

.btn{
    text-decoration: none;
    border-radius: 5px;
}

.btn.btn-row{
    background: linear-gradient(slategrey,lightgrey);
    background-color: slategray;
    color: black;
    padding: 5px 10px;    
}

.btn.btn-row:hover{
    background: linear-gradient(lightgrey,slategrey);
}

.btn.big-btn{
    background: linear-gradient(navy,rgb(37, 37, 253));
    background-color: rgb(37, 37, 253);
    color: white;
    padding: 5px 25px; 
}

.btn.big-btn:hover{
    background: linear-gradient(rgb(37, 37, 253),navy);
}

.footer{
    position: absolute;
    bottom: 5px;
    background-color: darkslategrey;
    width:100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Website Icons*/

.fa{
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25px;
}

.fa-github{
    background: #6e5494;
    color: white;
}

.fa-linkedin{
    background: #0077B5;
    color: white;
}

.fa-stack-overflow{
    background: #f48024;
    color: white;
}

.fa-github:hover{
    background: #76678d;
}

.fa-linkedin:hover{
    background: rgb(34, 130, 182);
}

.fa-stack-overflow:hover{
    background: #eb9045;
}

.social-media-links{
    height: 60px;
}

.social-media-link{
    width:60px;
    height:60px;
    display: inline-block;
}

/*Flip Card Styles*/
.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}

.card-front{
    background-color: green;
    color: black;
}
.card-back{
    background-color: orange;
    color: black;
    transform: rotateY(180deg);
}