.rounded-image{
    border-radius: 50%;
}

html{
    height: 100%;
    min-height: 100%;
    width:100%;
}

.homepage{
    background: radial-gradient(#6dd5ed, #083f4b);
    background-repeat: no-repeat;    
}

.homepage-center{
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align:center;
}

.homepage-center div{
    margin-bottom: 15px;
}

.homepage-center h1{
    margin:0;
}

.homepage-center h3{
    margin:0;
}

.btn{
    text-decoration: none;
    border-radius: 25px;
}

.btn.btn-row{
    background-color: red;
    color: white;
    padding: 5px 10px;    
}

.btn.big-btn{
    background-color: blue;
    color: white;
    padding: 5px 25px; 
}