*{
    box-sizing: border-box;
    color: white;
}

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

body{
    background-image: url('../images/sunset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0,0,0,0.5);
}

.padding-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    margin: 10px;
    outline: 1px solid white;
}

#heart1, #heart2, #heart3{
    transition: transform .1s;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.mobile-only{
    display: none;
}

/*Heart Explosion*/
#smile1, #smile2{
    position: absolute;
    cursor: pointer;
}

#smile1:active, #smile2:active{
    opacity: 0.7;
}

#smile1{
    top: 64px;
    left: 64px;
}

#smile2{
    top: 64px;
    right: 64px;
}


@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
  
@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@media screen and (max-width: 480px) {
    body {
        background-image: url('../images/christmas.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #heart1, #heart2, #heart3, #smile2{
        display: none;
    }

    #smile1{
        bottom: 32px;
        top: auto;
        left: 50%;
        margin-left: -64px;
    }
    
    .center{
        display: block;
    }
    
    h2{
        font-size: 1.35em;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    p{
        font-size: 1 em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mobile-only{
        display: block;
    }
  }
